/*-----------------------------------*\
  #style.css
\*-----------------------------------*/


/*-----------------------------------*\
  #VARIABLE
\*-----------------------------------*/

:root {

    /**
     * Colors
     */
  
    --onyx:         hsl(0, 0%, 25%);
    --azure:        hsl(219, 77%, 60%);

    --white:        hsl(0, 0%, 100%);
    --platinum:     hsl(0, 0%, 91%);
    --gainsboro:    hsl(0, 0%, 90%);
    --red-salsa:    hsl(0, 77%, 60%);
    --dim-gray:     hsl(0, 0%, 39%);
    --davys-gray:   hsl(0, 0%, 30%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);
  
    /**
     * Typography
     */
  
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-18: 18px;
    --fs-15: 15px;
    --fs-14: 14px;
  
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
  
    /**
     * Others 
     */
  
    --px: 60px;
    --radius: 5px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html { font-family: 'Source Sans 3', sans-serif; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
  }
  
  ion-icon, span { display: inline-block; }
  
  label, img { display: block; }
  
  input {
    font: inherit;
    width: 100%;
    border: none;
  }
  
  input:focus { outline: 2px solid var(--azure); }
  
  /**
   * Remove number input up & down button
   */
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance:         none;
    -webkit-appearance: none;
    margin: 0;
  }
  
  /**
   * Custom scrollbar style
   */
  ::-webkit-scrollbar { width: 8px; }
  
  ::-webkit-scrollbar-track { background: transparent; }
  
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  /**
   * main container 
   */
  
  .checkout-cont{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    color: var(--onyx);
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display:     flex;
    align-items: center;
    gap: 20px;
  }
  
  .heading ion-icon { font-size: 40px; }
  
  .item-flex {
    display: flex;
    flex-grow: 1;
  }
  
  /**
   * checkout section style 
   */
  
  .checkout {
    width: 70%;
    padding: 40px var(--px);
    background: var(--white);
    border-right: 1px solid var(--gainsboro);
  }
  
  .section-heading {
    color: var(--onyx);
    margin-bottom: 30px;
    font-size: var(--fs-24);
    font-weight: var(--fw-5);
  }
  
  .payment-form { margin-bottom: 40px; }
  
  .payment-method {
    display:     flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .payment-method .method {
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    display:     flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
  }
  
  .payment-method .selected { border-color: var(--azure); }
  
  .payment-method .method ion-icon { font-size: 20px; }
  
  .payment-method .method .checkmark {
    margin-left: auto;
    color: var(--quick-silver);
  }
  
  .payment-method .method .fill { color: var(--azure); }
  
  .label-default {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: var(--fs-14);
    color: var(--spanish-gray);
  }
  
  .input-default {
    background: var(--platinum);
    border-radius: var(--radius);
    color: var(--davys-gray);
  }
  
  .payment-form input {
    padding: 10px 15px;
    font-size: var(--fs-18);
    font-weight: var(--fw-5);
  }
  
  .cardholder-name,
  .card-number { margin-bottom: 20px; }
  
  .card-number input,
  .cvv input { letter-spacing: 3px; }
  
  .input-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .input-flex .expire-date,
  .input-flex .cvv { width: 50%; }
  
  .expire-date .input-flex {
    color: var(--spanish-gray);
    gap: 13px;
  }
  
  .expire-date .input-flex input { text-align: center; }
  
  .btn { border-radius: var(--radius); }
  
  .btn:active { transform: scale(0.99); }
  
  .btn:focus {
    color: var(--white);
    background: var(--azure);
    outline: 2px solid var(--azure);
    outline-offset: 2px;
  }
  
  .btn-primary {
    background: var(--azure);
    font-weight: var(--fw-5);
    color: var(--white);
    padding: 13px 45px;
  }
  
  .btn-primary b { margin-right: 10px; }
  
  
  /**
   * cart section style
   */
  
  .cart {
    width: 100%;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-end;
  }
  
  .cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
  }
  
  .product-card:not(:last-child) { margin-bottom: 20px; }
  
  .product-card .card {
    position: relative;
    display:     flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80%;
    padding: 40px;
  }
  
  .card .product-img { border-radius: var(--radius); }
  
  .card .detail .product-name {
    font-weight: var(--fw-6);
    font-size: var(--fs-15);
    color: var(--dim-gray);
    margin-bottom: 10px;
  }
  
  .card .detail .wrapper {
    display: flex;
    gap: 20px;
  }
  
  .product-qty {
    display:     flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-qty button {
    background: var(--platinum);
    width:  20px;
    height: 20px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }
  
  .product-qty button:active,
  .product-close-btn:active ion-icon { transform: scale(0.95); }
  
  .product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
  }
  
  .product-close-btn {
    position: absolute;
    top:   0;
    right: 0;
  }
  
  .product-close-btn ion-icon {
    font-size: 25px;
    color: var(--quick-silver);
  }
  
  .product-close-btn:hover ion-icon { color: var(--red-salsa); }
  
  .discount-token {
    padding: 40px var(--px);
    border-top:    1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
  }
  
  .wrapper-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
  }
  
  .btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--azure);
    color: var(--azure);
  }
  
  .btn-outline:hover {
    background: var(--azure);
    color: var(--white);
  }
  
  .amount { padding: 40px var(--px); }
  
  .amount > div {
    display:         flex;
    justify-content: space-between;
  }
  
  .amount > div:not(:last-child) { margin-bottom: 10px; }
  
  .amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--onyx);
  }
  
  
  .progress-checkout-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .progress-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .step-check{
    background-color: rgb(0, 132, 255);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    background-image: url(Resources/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }
  
  .progress-step-container:nth-of-type(3) .step-check::after{
    display: none;
  }
  .progress-step-container:nth-of-type(3) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
  }
  
  .progress-step-container:nth-of-type(2) .step-check::after{
    background-color: grey;
  }
  
  .progress-step-container:nth-of-type(2) .step-check{
    background-image: none;
    background-color: white;
    border: 2px solid rgb(0, 132, 255);
  }
  
  .step-check::after{
    content: "";
    width: 15vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
  
  .step-title{
    color: grey;
  }
  .section-heading{
    font-size: 40px;
    font-weight: 500;
    color: #45260a;
  }
  .label{
    font-size: 50px;
    font-weight: 500;
  }
  
  .section-sub-heading{
    font-size: 20px;
    color: gray;
    font-weight: 600;
    border-bottom: 1px solid black;
  
  }
  .span-heading{
    font-weight: 700;
  }
  
  
  /*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/
  
  @media (max-width: 1200px) {
  
    .item-flex { flex-direction: column-reverse; }
  
    /**
     * checkout section responsive 
     */
  
    .checkout {
      width: 100%;
      border-right: none;
    }
  
    .btn-primary { width: 100%; }
  
    /**
     * cart section responsive
     */
  
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
  
    .cart .wrapper { margin-top: auto; }
  
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
  
    .discount-token { border-top: none; }
  
  }
  
  
  
  
  
  @media (max-width: 768px) {
  
    :root { --px: 40px; }
  
    .cart { grid-template-columns: 1fr; }
  
    .discount-token { border-top: 1px solid var(--gainsboro); }
  
    .wrapper-flex { gap: 20px; }
  
  }
  
  
  
  
  
  @media (max-width: 567px) {
  
    :root { --px: 20px; }
  
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
  
    .payment-method .method { width: 100%; }
  
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
  
    .expire-date .input-flex { flex-direction: row; }
  
  }
  
  
  h1 {
    text-align: center;
  }
  h2 {
    margin: 0;
  }
  #multi-step-form-container {
    margin-top: 5rem;
    border: 2px solid red;
    
  }
  .text-center {
    text-align: center;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .pl-0 {
    padding-left: 0;
  }
  .button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #45260a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
  }
  .mt-3 {
    margin-top: 2rem;
  }
  .d-none {
    display: none;
  }
  .form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
  }
  .font-normal {
    font-weight: normal;
  }
  ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
  }
  ul.form-stepper .form-stepper-circle {
    position: relative;
  }
  ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
  }
  .form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
  }
  .form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
  }
  .form-stepper-horizontal li:after {
    background-color: #dee2e6;
  }
  .form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
  }
  .form-stepper-horizontal li:last-child {
    flex: unset;
  }
  ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
  }
  .form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #e67e22 !important;
    color: #fff;
  }
  .form-stepper .form-stepper-active .label {
    color: #e67e22 !important;
  }
  .form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
  }
  .form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
  }
  .form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
  }
  .form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
  }
  .form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
  }
  .form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
  }
  .form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
  }
  .form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .form-stepper a {
    cursor: default;
  }

  .checkout-cont{
    margin-top: 100px;
  }

  
  #step-1{
    padding-top: 10px !important;
  }

  .price_box{
    /* border: 1px solid red; */
    /* width: 100%; */
    margin-top: 100px;
  }


  .price_box .amount{
    display: flex;
    flex-direction: column;
  }
 
  