@import url("utilties.css");
*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
body{
    background-color: white;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.6rem;
    align-items: center;
    overflow-x:hidden;
    /* text-align: center; */
    overflow-x: hidden;
    
}
h1,h2,h3,h4{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.btn-primary{
    padding: 8px;
    border: none;
    background-color: var(--first-color-dark);
    color: white;
    font-weight: 400;
    border-radius: 8px;
}
.btn-secondary{
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    color:black;
    font-weight: 400;
}




/*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;
  }
  
  .section-title, .section-subtitle{
    text-align: center;
  }
  
  .section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }
  
  /*========== LAYOUT ==========*/
  .bd-container{
    /* max-width: 960px; */
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  
  .bd-grid{
    display: grid;
    gap: 1.5rem;
  }
  
  .l-header{
    
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    
  }

  /* preloader */
  body {
    /* background: url('https://www.studio-aegis.c') no-repeat center center; */
    color: white;
  }
  .loader{
    
    background: white;
    position: fixed;
    /* background-size: contain; */
  }
  #preloader {
    /* margin-top: 1%; */
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 10000;
      overflow: hidden;
      background: url('/img/loader.gif') no-repeat center center;
   }

   #content{
    display: none;
   }

  

/* NAVBAR */
.l-header{
  position: fixed;
}
.nav{
    max-width: 1024px; 
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}
@media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      top: -200%;
      right: 0;
      width: 50%;
      height: 30%;
      padding: 1.5rem 0 1rem;
      text-align: center;
      background-color: rgb(248, 248, 248);
      transition: 0.8s;
      box-shadow: 0 4px 4px rgba(0,0,0,.1);
      border-radius: 0 0 1rem 1rem;
      z-index: var(--z-fixed);
    }

  }


.nav__item{
    margin-bottom: var(--mb-2);
    font-weight: 900;
}

.nav__link,.nav__logo,.nav__icons,.nav__menu{
    padding-top: 10px;
    color:var(--text-color);
    font-weight: 900;
    font-size: 1.3rem;
}
.nav__list button{
    margin-top: 10%;
    padding: 10px;
    align-items: center;
    border-radius:10px ;
}

.nav__list li:hover{

    border-bottom: 2px solid var(--first-color-dark);
}
.nav__icons{
    text-align: center;
    font-size: 2rem;
    margin-left: .3rem;
    /* border: 1px solid ; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    
    
}
.nav_home{
  font-size: 1.3rem;
  padding-right: 2px;
}
.nav__menu{
  margin-bottom:1px;
}
.nav__link{
    transition: .4s;
    font-weight: 900;
}
.nav__toggle{
  /* margin-bottom: 10px; */
  color: black;
  font-size: 30px;
  

}

.nav__toggle,.nav__cart,.nav__user{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav__cart{
    flex-direction: row;
}

.nav__user{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
/* .nav__menu{
    padding-top: 10px;
} */
.reg-button{
  padding: 1px;
}

/* show menu */
.show-menu{
    top:var(--header-height);
    
}

.reg {
  color: white;
  background-color: var(--first-color-dark);
  border: none;
  padding: 10px;
  border-radius: 10px;
  /* align-self: center; */
  margin-bottom: 10%;
  margin-left: 10%;
}

.log {
  color: var(--first-color-dark);
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid rgba(104, 85, 224, 1); */
  margin-bottom: 10%;
}

button:hover {
  color: white;
  
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: var(--first-color-dark);
}

/* modal-popup */

.form-heading{
  color: var(--text-color);
  font-size: 36px;
  font-weight: 800;
}
.f-icons{
  color: var(--text-color);
}
span{
  color: var(--text-color);
}
button {
  margin-top: 20px;
	border-radius: 20px;
  color: white;
	/* border: 1px solid #FF4B2B;
   */
   border: none;
	background-color: var(--first-color-dark);
	/* color: #FFFFFF; */
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

/* button:focus {
	outline: none;
} */

button.ghost {
	background-color: transparent;
	/* border-color: #FFFFFF; */
  margin-top: 20px;
  color: white;
  background: var(--text-color);

}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	/* position: relative; */
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--first-color);
	/* /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
	/* background: linear-gradient(to right, #FF4B2B, ); */ 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: var(--text-color);
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



/* hero */

.hero{
    /* border: 1px solid red; */
    height : 700px;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    
}

.hero2{
    /* border:2px solid black; */
    height : 650px;
    position: absolute;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    display: flex;
    flex-direction: column;
}

.part{
    /* border:3px solid green; */
    width: auto;
    height: 100%;
    
}
.div1{
    width:auto;
    height: 59%;
}


.greetings{
    font-size: 13px;
    color:  var(--text-color);
    font-weight: normal;
}
.sub-headings{
    padding-top: 15px;
    font-size: 24px;
    color: var(--text-color);
    font-weight: 900;
}
.sub-text{
    color:var(--text-color);
    padding-top: 10px;
    color:#7b7a7a;
    
}
.btn-grp{
    padding-top: 10px;
}

.btn-primary{
    margin-right: 10px;
}

/* hero right side */
.div2{
  /* border: 1px solid black; */
  margin-top: 1rem;
    position: relative;    
    aspect-ratio: 10/11;
    overflow-y: hidden;
    overflow-x: hidden;
}
.food-img {
    position: absolute;
    width: 45%;

  }
  
.food-1{
    top:  25%;
    left: 6%;
    animation: scaleUp 3s ease-in-out infinite;
  }
  
  .food-2 {
    top:    5%;
    right: 5%;
    animation: scaleUp 2s ease-in-out infinite;

  }
  
  .food-3 {
    bottom: 4%;
    right:  4%;
    animation: scaleUp 4s ease-in-out infinite;
  }
  
  .dialog {
    position: absolute;
    filter: drop-shadow(0px 2px 46px hsla(0, 0%, 0%, 0.4));
  }
  
  .dialog-1 {
    top:   10%;
    right: 15%;
  }
  
  .dialog-2 {
    bottom: 20%;
    right:   5%;
  }
  
  .shape {
    position: absolute;
    filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.1));
  }
  
  .shape-1 {
    top:  0;
    left: 10%;
    animation: scaleUp 2s 3s ease-in-out infinite;
  }
  
  .shape-2 {
    right: 0;
    top:  55%;
    animation: scaleUp 3s 4s ease-in-out infinite;
  }
  
  .shape-3 {
    bottom: 10%;
    left:   5%;
    animation: scaleUp 3s 1s ease-in-out infinite;
  }
  
  .shape-4 {
    top:  35%;
    right: 0;
    animation: moveUp 3s 1s ease-in-out infinite;
  }
  
  .shape-5 {
    top: 60%;
    left: 0;
    animation: moveUp 3s ease-in-out infinite;
  }
  @keyframes scaleUp {
  
    0%,
    100% { transform: translateY(0) scale(1); }
  
    50% { transform: translateY(-5px) scale(1.05);}
  
  }
  @keyframes moveUp {
  
    0%,
    100% { transform: translateY(0); }
    20%  { transform: translateY(-3px); }
    50%  { transform: translateY(-8px); }
  
  }


  /* services - home page */
  .sd-container{
    background-color:var(--first-color);
    height: auto;
    padding: 30px;
  }
  .services-heading{
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
    margin-top: 2%;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 3%;
  }
  .grid{
    margin: 0 80px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    display: grid;
    place-items: center;
    /* background-color: var(--first-color); */
    
  }
  .grid > article{
    
    /* background: #eee5e9; */
    background: white;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
  }
  
  .grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
  }
  
  .card__1_services{
    height: 250px;

  }
  .grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .fe-box{
    padding: 0 20px 20px;
    text-align: center;
  }
  .fe-box h3{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    color: var(--text-color);
  }
  .fe-box p{
    margin-top: 5%;
    font-size: 15px;
    line-height: 18px;
    color: gray;
  }

  
  @media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 500px){
    
    .sd-container{
      overflow-x: scroll;
    }
    .grid{
        /* grid-template-columns: repeat(1, 1fr); */
        grid-template-columns: minmax(0,1fr);
        /* overflow: hidden; */
        /* align-items: center; */
        
    }
    .grid > article{
    text-align: center;
    }
  }
  
  /* insipration menu - home page */
  .top_brands {
    /* margin-top: 0; */
    position: relative;
    /* background: var(--first-color); */
    /* background-color: #f2f3f5; */
    width: 100%;
    height: auto;
    margin: auto;
    font-family: 'Poppins ', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
  }
  .brands_heading{
    /* margin-top: 2%; */
    color: black;
    margin-left: 2%;
    font-size: 32px;
    padding: 20px;
    font-weight: 400;
    
  }
  /* .top_brands h1{
    color: var(--text-color);
    font-size: 28px;
    font-weight : 700;
    margin-left: 2%;
    margin-top: 2%;
    
  } */
  .top_brands .brand_item {
      position: relative;
      display: flex;
      padding: 0px 15px;
      scroll-behavior: smooth;
      overflow: auto;
    }
    .top_brands .brand_item::-webkit-scrollbar{
      display: none;
    }
    .top_brands .brand_item li{
      list-style: none;
      min-width: 150px;
      height: auto;
      margin: 20px 22px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .top_brands .brand_item li a{
      text-decoration: none;
      color: #333;
      }
    .top_brands .brand_item li a .img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0px 2px 8px rgb(156, 156, 156, .4);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    .top_brands .brand_item li a .img .img{
      width: 80%;
      height: 80%;
    }
    .top_brands .brand_item li a h5{
        font-size: 16px;
        text-align: center;
        margin: 10px 0px 0px 0px;
    }
    .top_brands .brand_item li:nth-child(3) .img{
      background: #000;
    }
    .top_brands .brand_item li:nth-child(3) .img img{
      width: 150px;
      height: 130px;
    }
    .top_brands .btn_brands{
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px rgb(107, 107, 107, .5);
      border: none;
      background: #fff;
      outline: none;
      cursor: pointer;
      top: 50%;
      left: .3%;
      z-index: 999;
      display: none;
    }
    
    .top_brands .btn_brands::before{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-top: 2px solid #131312;
      border-left: 2px solid #131312;
      transform: rotate(-45deg);
      top: 12px;
      right: 7px;
    }
    .top_brands .btn_brands:nth-child(2){
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px rgb(107, 107, 107, .5);
      border: none;
      background: #fff;
      outline: none;
      cursor: pointer;
      top: 50%;
      left: 97.2%;
      z-index: 999;
      display: flex;
    }
    
    .top_brands .btn_brands:nth-child(2):before{
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-top: 2px solid #131312;
      border-left: 2px solid #131312;
      transform: rotate(-220deg);
      top: 10px;
      right: 7px;
    }
  
  




  /* Menu  - home page */
  .menu{
    /* border: 1px solid black; */

    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--first-color); */
    /* background-color: whitesmoke; */
    /* border: 1px solid black; */
}
.header-menu{
    text-align: center;
    margin-top:10px;
    font-size: 28px;
    color: var(--text-color);
}

.menu-container{
    /* border: 2px solid black; */
    /* max-width: 100%; */
    margin:20px auto;
    padding :10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    gap:20px;

}

.card{
    background-color: white;
    border-radius:10px;
    padding:20px;
    /* box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0; */
    margin-bottom: 10px;
}
.card__header{
    display: flex;
    font-size: 26px;
    font-weight: bold;
}
.card-1{
    /* background: hsl(253, 55%, 52%); */
    background: var(--first-color);
    
}
.card-1 .card__header{
  font-weight: 900;
  color: var(--text-color);
  /* color: white; */
  font-size: 30px;
}
.card-1 .card__lead{
  padding-top: 20px;
  opacity: 70%;
  font-weight: 200;
}
.card-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-2 img{
    max-width:1024px;
    height: 500px;
}
.slider-1{
  width: 100%;
  height: 350px;
  background: url("/img/3-1.jpeg");
  background-size: cover;
  animation: slide_1 20s infinite ease-in-out;
}
.slider{
    width: 350px;
    height: 500px;
    background: url("/img/97756649-indian-street-food-pav-bhaji-vegetables-close-up-in-a-bowl-on-the-table-vertical-top-view-from-above.webp");
    background-size: cover;
    animation:slide 20s infinite ease-in-out;
}
.card-2,.card-3{
  padding: 0;
}

@keyframes slide{

    25%{
        background: url("/img/129387792-healthy-oatmeal-served-with-berries-chocolate-chips-almonds-and-honey-over-a-marble-table-background.webp");
        background-size: cover;
    }
    50%{
        background: url("/img/97756649-indian-street-food-pav-bhaji-vegetables-close-up-in-a-bowl-on-the-table-vertical-top-view-from-above.webp");
        background-size: cover;
    }
    75%{
        background: url("/img/vertical-shot-traditional-indian-paneer-butter-masala-cheese-cottage-curry-black-surface_181624-32001.webp");
        background-size: cover;
    }
    100%{
        background: url("/img/vertical-shot-vegetable-curry-with-cauliflower-beans-corn-spicy-pepper-lime_181624-31901.webp");
        background-size: cover;
    }

}

@keyframes slide_1{

  25%{
      background: url("/img/3-2.jpeg");
      background-size: cover;
  }
  50%{
      background: url("/img/3-3.webp");
      background-size: cover;
  }
  75%{
      background: url("/img/3-4.jpeg");
      background-size: cover;
  }
  100%{
      background: url("/img/3-5.jpeg");
      background-size: cover;
  }

}

.card-3{
    /* background: hsl(253, 55%, 52%); */
    /* color:white; */
}
.card-4{
    background-color: var(--first-color);
}
.card__lead{
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
}

.card:nth-of-type(1){
    grid-column: 1/4;
}
.card:nth-of-type(2){
    grid-column: 4/5;
    grid-row: 1/3;
}
.card:nth-of-type(3){
  grid-column: 1/3;
  
}

.card:nth-of-type(4){
    grid-column: 3/4;
}
  

.order-button button{
  align-self: center;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
  background-color: var(--first-color-dark);
  color: white;
  cursor: pointer;
  
}


/* f a q section */
.accordion{
  width: 100%;
  height: auto;
  background: #FFF;
  margin: 20px  15px;
  padding: 30px;
  border-radius: 8px;
  /* box-shadow:  0 0 4px rgba(0,0,0,0.2); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq_title{
  color: black;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
  color: var(--text-color);
  text-align: center;

}
.accordion .accordion-content{
  text-align: center;
  margin: 10px 0;
  border-radius: 4px;
  background: #FFF7F0;
  border: 1px solid #FFD6B3;
  overflow: hidden;
  width: 80%;
}
.accordion-content:nth-child(2){
  background-color: var(--first-color);
  border-color: var(--first-color-dark);
}
.accordion-content:nth-child(3){
  background-color: #fff;
  border-color: #FFCCD6;
}
.accordion-content:nth-child(4){
  background-color: var(--first-color);
  border-color: var(--first-color-dark);
}
.accordion-content:nth-child(5){
  background-color: #fff;
  border-color: #FFCCD6;
}
.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content header{
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header{
  min-height: 35px;
}
.accordion-content header .title{
  font-size: 19px;
  font-weight: 700;
  color: #333;
}
.accordion-content header i{
  font-size: 15px;
  color: #333;
}
.accordion-content .description{
  height: 0;
  font-size: 12px;
  color: #333;
  font-weight: 400;
  padding: 0 15px;
  transition: all 0.2s linear;
  text-align: left;
}










/* customer feedback */

.customer_feedback{
  text-align: center;
}

section{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: black;
	font-size: 16px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: var(--text-color);
	font-size: 38px;
	font-weight: 900;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;

}
.section-separator:before{
	content: '';
	position: absolute;
	left: 45%;
	top: 0;
	height: 3px;
	width: 190px;
	border-radius: 3px;
	z-index: 2;
	background-color: var(--first-color-dark);
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: var(--first-color-dark);
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: var(--first-color);
  color: black;
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
  background: var(--first-color);
	
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #fff;;
	border:1ps solid #ffffff;
	border-radius: 10px;
	transition: all .3s ease-in-out;
  -webkit-box-shadow: 13px 6px 20px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 6px 20px -7px rgba(0,0,0,0.75);
  box-shadow: 13px 6px 20px -7px rgba(0,0,0,0.75);
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: var(--first-color-dark);
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: var(--first-color-dark);
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: var(--text-color);
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}

.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: var(--first-color);
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: var(--text-color);
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: var(--first-color-dark);
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}


/* footer  */
footer{
  /* position: fixed; */
  background: var(--first-color);
  width: 100%;
  bottom: 0;
  left: 0;
}
/* footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  /* background: #AFAFB6; */
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 20%;
  border: 2px solid var(--first-color);
  margin-top: 5%;
  padding: 20px;
  
}
.content .top .logo-details{
  color: var(--text-color);
  font-size: 30px;
}
/* .content .top .logo-details .img{
  
} */
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: var(--text-color);
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: var(--text-color);
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: var(--text-color);
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}











/* media queries */

@media (max-width:768px){
  .header-menu{
    font-size: 24px;
  }
  .menu-container{
      width: 100%;
      grid-template-columns: 1fr;
      
      overflow-x: hidden;
      
  }
  .card{
    width: 100%;
  }
  .card:nth-of-type(1){
      grid-column: 1;
  }
  .card:nth-of-type(2){
      grid-column: 1;
      grid-row: 5;
  }
  .card:nth-of-type(4){
      grid-column: 1;
      grid-row:4;
  }
}


/* tablets */

/* media query-1 */
@media (min-width: 480px) and (max-width: 767px) {
  body{
    background-color: black;
  }

}


@media screen and (min-width: 768px){
    body{
      margin: 0;
    }


  
    .section{
      padding-top: 8rem;
    }
  
    .nav{
      height: calc(var(--header-height));
    }
    .nav__list{
      display: flex;
    }
    .nav__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }  
    .food-img{
      width: 320px;
  }
  .food-1{
      top: 30%;
      left: 12%;
  }
  .food-2{
      top: 0;
      right: 16%;
  }

  .food-3{
      top:58%;
      right: 14%;
  }

  .dialog-1{
      top: 10%;
      right: 28%;
  }
  .dialog-2{
      right: 35%;
  }
  .shape-1{
      top: 20%;
      right: 50%;
  }

  .shape-2{
      right: 8%;
      width: 30px;
  }
  .shape-3{
      left: 20%;
  }
  .shape-4{
      top:40%;
      width: 70px;
      right: 18%;
  }
  .shape-5{
      top: 40%;
      width: 90px;
      left: 8%;
  }




  }



  /* large desktops */
  @media screen and (min-width: 960px){
    

    .bd-container{
        max-width: 100%;
        height: 2.8rem;
        margin-left: auto;
        margin-right: auto;
    }

    .nav__icons div{
        font-size: 30px;
        justify-content: space-between;
    }

    
    .hero2{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 0px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 8 / 8; 
        width: 55%;
        height: 85%;
        display: flex;
        flex-direction: column;
        
    }
    .div2 { grid-area: 1 / 5 / 9 /12; 
        width: 100%;
        height: 100%;
        aspect-ratio: 10/11;
    }


    
    .greetings{
        margin-top: 130px;
        font-size: 22px;
        font-weight: 300;
    }

    .sub-headings{
        margin-top: 60px;
        font-size: 48px;
        line-height: 3rem;
        font-weight: 900;
    }

    .sub-text{

        margin-top: 18px;
        font-size: 22px;
        font-weight: 500;
    }
    .btn-grp{
        margin-top: 30px;
        
    }

    .btn-primary{
        padding: 14px;
        font-size: 14px;
        margin-right: 20px;
    }

    .btn-secondary{
        padding: 14px;
        font-size: 14px;
    }
    .food-img{
        width: 320px;
    }
  
    .food-1{
        top: 30%;
        left: 12%;
    }
    .food-2{
        /* width: 280px; */
        top: 3%;
        right: 15%;
        box-shadow: none;
    }

    .food-3{
        top:52%;
        right: 14%;
    }

    .dialog-1{
        top: 10%;
        right: 28%;
    }
    .dialog-2{
        right: 35%;
    }
    .shape-1{
        top: 20%;
        right: 50%;
    }

    .shape-2{
        right: 8%;
        width: 30px;
    }
    .shape-3{
        left: 20%;
    }
    .shape-4{
        top:40%;
        width: 70px;
        right: 18%;
    }
    .shape-5{
        top: 40%;
        width: 90px;
        left: 8%;
    }
    .card1{
      width: 20%;
      height: 370px;
    }
    .card-button{
      align-self: center;
      margin-top: 12px;
    }
    .menucontainer{
      height: 900px;

    }
    .menu-heading{
      font-size: 48px;
    }
    .menu-text{
      font-size: 24px;
    }
    .l-header{
      position: fixed;
    }
    .nav__icons{
      text-align: center;
      font-size: 2rem;
      margin-left: .3rem;
      /* border: 1px solid black; */
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      width: 10%;
      
  }
    

    
  }
  
  /* For tall screens on mobiles y desktop*/
  /* @media screen and (min-height: 721px) {
      .home__container {
          height: 640px;
      }
  }
   */
