@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* root-variables */
:root{

  --header-height:4rem;

    /* colors */
    --body-color:whitesmoke;
    --first-color:#fae5d3;
    --text-color:#45260a;
    --first-color-dark:#e67e22;
    --text-color-second:#7b7a7a;

    /* fonts */
    --body-font:'Rubik',sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* margins */
    --mb-1:.5rem;
    --mb-2: 1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* responsive media */
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 6rem;
      --bigger-font-size: 3.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

